body{ 
    background-color: rgb(77, 73, 73);
     background-image: url(background-image.jpg);   
 } 
/* #character-profile {
display: flex;
justify-content: center;
style
} */ 
 /*download picture from internet with every characters mentioned to use as background. Reference folder in url format